/* start global */
   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   *
     {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
      }
   ul
      {
        list-style: none;
      }
   a
     {
        text-decoration: none;
     }
/* end global */  

 body
   {
     padding-top: 1rem;
     padding-inline:2rem
   }  
header
    {    
       
        padding-inline: 1.5rem;
    } 
/* start top-nav     */
  .top-nav
      {
         display: flex;
         justify-content: space-between;
         padding-bottom: .6rem;
         border-bottom: .1rem solid rgba(153, 152, 152,.5);
      } 
  .contact-us
      {
         display: flex;
         column-gap: 2rem;
         color: #F5993C;
      }   
  .social-media
     {
       display:flex;
       column-gap:2rem;
     }
  .social-media a i
     {
        color: black;
     }
    
/* end top-nav      */

/* start-bottom-nav  */
  .bottom-nav
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .8rem;
      }
   .bottom-nav h1
      {
         font-size: 1.5rem;
      }   
  .right-bottom-nav
     {
        display: none;
     }    
  .navbar
     {
        display: flex;
        gap:2rem;
     } 
  .navbar  a
     {
        color: #999999;
     }
  .navbar .active
     {
        color:#666666;
     }   
  .navbar i
     {
       font-size: .5rem;
       color: #999999;
       margin-left: 1rem;
     }   
  .sign-in-up
   {
     display: flex;
     column-gap: 2rem;
     align-items: center;
   } 
 .sign-in a
   {
     color:#F97316;
     text-decoration: underline;
   }  
 .sign-up button
   {
     color:#fff;
     background-color: #FB923C;
     padding:1rem 2rem;
     border-radius: 1.5rem;
     border: none;
   }  
/* end bottom-nav          */
/* start hero */
.hero
  {
     padding-top:5rem;
  }
.hero .banner
 {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 80vh
 }
 .banner-title h2
    {
   
      font-size: 1.3rem;
      font-weight: 500;
      width: 80%;
                    
    }
.banner-title p
    {
      font-size: .8rem;
       color: #999999;
       padding: .8rem 0;
       
    } 


.banner-title .banner-buttons button , .advantages .advantage button
   {
      background-color: transparent;
      border-radius: 1rem;
      padding: .5rem .7rem ;
      border:1px solid #333333;
      margin-right: 1rem;

   }
.advantages .advantage button
   {
      padding: .5rem 1.6rem ;
   }   
.banner-title .banner-buttons a
    {
      color:#999999
    }
.banner-title .banner-buttons a i
   {
      margin-right: .5rem;
      color: #333333;
   }  
        
.banner-image
   {
      order:-1;
      height: 60%;
      width: 80%;
      border-radius: 1rem;
      overflow: hidden;
      position: relative;
   }  
   .banner-title
                { 
                  padding-top:1.2rem;
                  row-gap:.6rem;
                  width: 80%;
                  height: 40%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                } 

img
    {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }  
.transparant
    {
       position: absolute;
       width: 15%;
       height: 80%;
       right: 6%;
       bottom: 0;
       border-radius: 1rem;
       background-color: rgba(240, 238, 238, 0.5);
    }
.advantages
  {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid white;
    border-radius: 4rem;
    width: 100%;
    padding:1rem;
    align-items:center ;
   
  }
.advantages .container
    {
           display: flex;
           justify-content: space-between;

    }
   .advantage-content
     {
       display: flex;
       flex-direction: column;
       gap: .7rem;
     } 
  .banner-buttons 
      {
         display: flex;
         column-gap: 1rem;
      }
  .video
     {
       display: flex;
       gap: .7rem;
       align-items: center;
     }
  .video-icon
   {
      width: 30px;
      height: 30px;
      border: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   }
  
  .advantage h3  
      {
         font-size: .7rem;
         font-weight: 400;
         color:#909090;
         
      }
   .advantage p 
      {
         font-size: .5rem;
         color:#909090;
         text-indent: 3px;
      } 
   .advantage i
       {
         color:#F97316;
       }        

.advantages .line
    {
       width: 1%;
       border-right: .15rem solid rgba(153, 152, 152,.5);
      
    }
.brands
   {
      display: flex;
      justify-content: center;
   }     
.brands .container
    {  
      width: 80%;
       display: flex;
       justify-content: space-between;
       color: #999999;
       padding: 1rem 0;
      
    }
.brands .container h3
     {
          font-size: 1rem;
     }    
      
       

/* end hero */
/* start category section */
.category
   {
      padding-block:3rem;
   }
.category-container
{
   display: flex;
   gap: 1.5rem;
   
}  
.category-card
{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left:0 ;
   height: 48vh;
   width: calc((100% - 3rem)/3);
   background-color: #EDEDED;
   border-radius: 1rem;
}
 
.category-card .category-title
 {
     display:flex;
    flex-direction:column; 
    gap: 1rem;
    align-items:center;
    align-content:start;
                             
 }    

.category-card .category-img 
{
   order: -1;
   width: 100%;
   height: 70%;
} 
.category-card .category-img img
   {
      width: 100%;
      object-fit: cover;
      height: 100%;
   }
   .category-card .category-title h2
   {
     font-size: .9rem;
     font-weight: 500;
   }  


.category-card .category-title  button
 {
    background-color: #FFF;
    border-radius: 1rem;
    padding:.4rem .6rem;
    border: 0px ;
    width: 6rem;
   font-size: .8rem;
}


/* end category section */

.list
  {
       font-size: 1.8rem;
      
  }   
  @media (min-width:1024px) 
        {
            header
             {    
            
                padding-inline: 3rem;
             } 
            .bottom-nav h1
             {
               font-size: 2rem;
             }  
            .list
                 {
                    display: none;
                 }   
            .right-bottom-nav
               {
                  display: flex;
                  column-gap: 5rem;
                  align-items: center;
               }  
            body
             {
                padding-top: 2rem;
                padding-inline:2rem
             }  
             .hero .banner
             {       height: 80vh;
                    flex-direction: row;
                    justify-content: space-between;
              }  
              .banner-image
              {
                order:0
              }  
              .banner-image
                {
                    height:100%;
                    width: 50%;
                }  
                .banner-title
                  {
                     width: 50%;
                     height:100%;
                  }    
                  .banner-title h2
                  {
                     font-size: 3.8rem;
                     font-weight: 700;
                     width: 77%;
                  }   
                  .banner-title p
                  {
                     width: 70%;
                     color: #999999;
                     padding: 1rem 0;
                  }  
                  .advantages
                   {
                     position: relative;
                     width: 75%;
                     padding:1.7rem ;
                     top:-3rem;
                    }
                    .advantage h3  
                      {
                        font-size: .9rem;
                       
                       }
                 .advantage p 
                      {
                           font-size: .7rem;
         
                       } 
                       .brands .container h3
                       {
                            font-size: 1.6rem;
                       }    
                      
                       

                       .category-card
                       {
                           
                           flex-direction: row;
                           justify-content: space-between;
                           height: 33vh;
                           padding-left: 1.5rem;
                           
                       }
                     .category-card .category-img 
                           {
                                 order:0;
                                 width: 66%;
                                 height: 100%;
                                 
                          } 
                          
                          .category-card .category-title
                           {
                                 
                                flex-direction:column ;
                                justify-content: center;
                                  gap:1rem;
      
                          }
                            
                        
                          .category-card .category-title h2
                          {
                            font-size: 1.2rem;
                           
                          }  
         
                        
                          .category-card .category-title  button
                          {
                              
                               padding:.6rem .9rem;
                          }
        }
        @media(min-width:1023px) and (max-width:1323px)
        { 
         .banner-title h2
         {
            
            font-size: 3.5rem;

            
         }  
         
            .advantage h3  
                      {
                        font-size: .7rem;
                       
                       }
                 .advantage p 
                      {
                           font-size: .5rem;
         
                       } 
          
         }
         @media(min-width:768px) and (max-width:1023px)
         { 

            .banner-image
                {
                    width: 66%;
                    height: 70%;
            
                }  
            .banner-title h2
            {
               font-size: 1.4em;
               font-weight: 500;
              width: 68%;

            }   
           
            .banner-title p
            {
               font-size: .9rem;
               
            }   
            .category-card .category-title
            {
                display:flex;
               flex-direction:row; 
               justify-content: space-around;
               align-items:center;
               align-content:start;
                                        
            }     

           
         }   